<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/phpunit-bootstrap.php" beStrictAboutTestsThatDoNotTestAnything="false" colors="true">
  <testsuites>
    <testsuite name="Coder Sniffer DrupalPractice Test Suite">
      <directory>tests/FlorentTorregrosaDrupalPractice</directory>
    </testsuite>
  </testsuites>
</phpunit>
